:root {
  --clr-primary: hsl(249, 99%, 64%);
  --clr-secondary: hsl(278, 94%, 30%);

  --clr-err: hsl(0, 100%, 66%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-neutral-900: hsl(270, 3%, 87%);
  --clr-neutral-500: hsl(279, 6%, 55%);
  --clr-neutral-100: hsl(278, 68%, 11%);

  --border: 0.2rem solid red;
  --border-2: 0.2rem solid green;
  --border-3: 0.2rem solid blue;
  --border-4: 0.2rem solid yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  height: 100vh;
  margin: 0 auto;
}

/* //////////////////////////////////////////////// */

.main-container {
  height: 100%;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(./images/bg-main-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;

  max-width: 100%;
  width: 100%;
  height: 100%;
  /* border: var(--border); */
}

.cards-box {
  max-width: 100%;
  /* max-height: 100%; */
  height: 100%;
  width: 100%;

  display: grid;
  justify-content: center;
  align-items: end;
  gap: 3rem;

  /* border: var(--border-2); */
}

.card-front__box,
.card-back__box {
  height: auto;

  max-width: 100%;
  /* border: var(--border); */
}

.card-front__box {
  margin-right: 5vw;
}

.card-back__box {
  align-self: start;
  margin-left: 5vw;
}

.card-front__img,
.card-back__img {
  max-width: 100%;
  height: 100%;
  display: block;
}

/* //////////////////////////////////////////////// */

.circle {
  margin-bottom: auto;

  height: 4rem;
  width: 4rem;
  background-color: var(--clr-white);
  border-radius: 50%;
  position: relative;
}
.circle::before {
  content: '';
  top: 50%;
  left: 180%;
  transform: translate(-50%, -50%);

  height: 2rem;
  width: 2rem;

  border-radius: 50%;
  border: 0.1rem solid var(--clr-white);

  position: absolute;
}

.card-front__data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  aspect-ratio: 44.7/24.5;
  margin-top: -24.5rem;
  padding: 2.6rem;

  white-space: nowrap;

  /* border: var(--border-3); */
}

.card-front__number {
  color: var(--clr-white);

  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;

  letter-spacing: 0.4rem;
  font-size: 2.7rem;
  margin-bottom: 2.6rem;
}

.card-front__name-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 100%;
}

.card-front__valid,
.card-front__name {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  font-weight: normal;
}

/*//////////////// back card /////////////////*/
.card-back__data {
  display: flex;
  justify-content: end;
  align-items: center;

  aspect-ratio: 44.7/24.5;
  margin-top: -24.5rem;
  padding: 6rem;
}

.card-back__cvc {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  padding-bottom: 0.5rem;
  color: var(--clr-white);
}

/* ///////////////////////////////////////// */

.cc-data__container {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;

  /* border: var(--border-2); */
}

/* /////////////////  FORM  /////////////////// */

.form-container {
  font-family: 'Space Grotesk', sans-serif;
  max-width: 38rem;
  margin: 2rem;
  /* height: 100%; */
}

.label,
label {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  margin-bottom: 0.8rem;
}

.input {
  width: 100%;

  font-family: inherit;
  font-size: 1.8rem;
  padding: 1rem;

  border-radius: 0.5rem;
  border: 0.1rem solid var(--clr-neutral-900);
}

.input:focus {
  outline: none;
  border-color: var(--clr-primary);
}

.margin-b {
  margin-bottom: 2.6rem;
}

.margin-b__b {
  margin-bottom: 4rem;
}

.cc-data__valid {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.gap {
  gap: 1rem;
  margin-right: 1rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

button {
  border: none;
  background-color: var(--clr-neutral-100);
  padding: 1.5rem;
  border-radius: 1rem;
}

a {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.8rem;
  color: var(--clr-white);
}

/* SUCCESS */

.success {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.thx-info {
  color: var(--clr-neutral-500);
}

.thx {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--clr-neutral-100);
}

.btn {
  width: 100%;
}

/* ERROR */

.hidden {
  display: none;
}

.err-msg {
  color: var(--clr-err);
  font-size: 1rem;
}

.err-color {
  border: 0.1rem solid var(--clr-err);
}
